@import './style.css';


.cryptocurrency-infos {
   display: flex;
   flex-direction: row;
   gap: var(--padding);
}

.cryptocurrency-infos img {
   height: 50px;
   aspect-ratio: 1/1;
}

.cryptocurrency-infos-name {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: var(--padding);
}

.cryptocurrency-infos-name h2 {
   font-size: 1.75rem;
   font-weight: 600;
}

.cryptocurrency-infos-name i {
   font-size: 1.75rem;
   cursor: pointer;
}

.wrapper {
   display: flex;
   flex-direction: column;
   gap: var(--padding);
}

.wrapper-grid {
   display: flex;
   flex-wrap: wrap;
   gap: var(--padding);
}

.wrapper-grid > div {
   flex-grow: 1;
}

.wrapper-top-page {
   display: flex;
   gap: var(--padding);
}

#wrapper-chart {
   width: 60%;
}

#wrapper-statistiques {
   width: 40%;
}

#wrapper-statistiques div,
#wrapper-community div {
   min-width: 300px;
}

.chart-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: var(--padding)
}

.chart-header h3 {
   font-size: 2rem;
   font-weight: 500;
   position: relative;
}

.chart-header h3 span {
   position: absolute;
   top: 5px;
   right: 0;
   transform: translateX(100%);
   font-size: 1.1rem;
}

#chart-period-selector {
   display: flex;
   flex-direction: row;
   gap: var(--padding);
}

#chart-period-selector a {
   cursor: pointer;
   font-size: 1.1rem;
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   user-select: none;
   transition: color 200ms;
}

#chart-period-selector a:hover {
   color: var(--color-black);
}

.period-selected {
   color: var(--color-orange) !important;
   font-weight: 600;
}

#cryptocurrency-statistiques > div {
   display: flex;
   justify-content: space-between;
}

.cryptocurrency-statistiques-categorie {
   color: var(--color-dark-grey);
   font-weight: 300;
}

.cryptocurrency-statistiques-value {
   word-break: break-all;
}

#cryptocurrency-community {
   display: flex;
   gap: var(--padding);
}

#cryptocurrency-community a {
   color: var(--color-black);
   padding: 5px 10px;
   border-radius: var(--border-radius-small);
   border: solid 1px var(--color-light-grey);
   display: flex;
   align-items: center;
   gap: var(--padding);
   transition: background-color 200ms, color 200ms;
}

#cryptocurrency-community a:hover {
   background-color: var(--color-background-dark-grey);
   color: var(--color-orange);
}

.container-sentiment {
   display: flex;
   flex-direction: column;
   gap: var(--padding-small);
}

.sentiment-wrapper {
   width: 100%;
   height: 7px;
   background-color: var(--color-green);
   border-radius: var(--border-radius-small);
}

#sentiment-downvote {
   height: 100%;
   background-color: var(--color-red);
   border-radius: var(--border-radius-small);
}

.sentiment-legende {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sentiment-legende > i {
   font-size: 1.5rem;
   color: var(--color-grey);
}