@import './style.css';


.title-tableau-bord {
   display: flex;
   align-items: center;
   gap: 10px;
}

.title-tableau-bord a {
   color: var(--color-grey);
}

.container {
   background-color: #c7f4cf;
}

.fav-symbol {
   font-size: 0.8rem;
   font-weight: 300;
   color: var(--color-grey);
}


.fav-taux {
   font-size: 0.5em;
   font-weight: 800;
}