@import './style.css';

.container-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.search-bar-wrapper {
   /* width: min-content; */
   align-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   align-items: center;
   gap: var(--padding);
   padding: 10px 15px;
   border: 1px solid var(--color-grey);
   border-radius: var(--border-radius-large);
}

.search-bar-wrapper-focus {
   border: 1px solid var(--color-blue);
   -webkit-box-shadow: 0px 0px 15px 5px rgba(25, 25, 25, 0.05); 
   box-shadow: 0px 0px 15px 5px rgba(25, 25, 25, 0.05);
}

#search-bar {
   border: none;
   outline: none;
   background-color: transparent;
}

#search-bar::-webkit-contacts-auto-fill-button, 
#search-bar::-webkit-credentials-auto-fill-button {
   visibility: hidden;
}

.search-bar-wrapper > i {
   color: var(--color-orange);
   cursor: pointer;
}