@import './style.css';

header {
   width: 100%;
   height: var(--header-size);
   position: fixed;
   top: 0;
   display: inline-flex;
   z-index: 10;
   background-color: aliceblue;
}

.header-left-side {
   min-width: 20%;
   max-width: 20%;
   background-color: var(--color-background-grey);
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-right-side {
   width: 80%;
   padding: var(--padding);
   display: flex;
   align-items: center;
}

.path {
   height: 100%;
   display: flex;
   align-items: flex-end;
   flex-direction: row;
   align-items: center;
}

.path > *::after {
   content: '/';
   padding: 0px 10px;
}

.path > *:last-child::after {
   content: '';
   padding: 0px;
}