@import './style.css';

header {
   width: 100%;
   height: var(--header-size);
   position: fixed;
   top: 0;
   display: inline-flex;
   z-index: 10;
   background-color: #FEFFFF;
   border-bottom: solid 1px var(--color-light-grey);
   margin-bottom: 500px;
}

.header-left-side {
   min-width: 20%;
   max-width: 20%;
   background-color: var(--color-background-grey);
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-right-side {
   width: 80%;
   padding: var(--padding);
   display: flex;
   align-items: center;
}

.path {
   display: flex;
   align-items: flex-end;
   flex-direction: row;
   align-items: baseline;
}

.path h2,
.path p {
   cursor: default;
}

.path > p {
   font-size: 1.1rem;
   color: var(--color-blue);
   font-weight: 200;
   padding: 0px 10px;
}

.path > a {
   font-weight: 400;
   font-size: 1.2rem;
   color: var(--color-grey);
   transition: color 200ms;
}

.path > a:hover {
   color: var(--color-orange);
   text-decoration: underline;
}