@import './style.css';

header {
   width: 100%;
   height: var(--header-size);
   position: fixed;
   top: 0;
   z-index: 10;
   background-color: #FEFFFF;
   border-bottom: solid 1px var(--color-light-grey);
   margin-bottom: 500px;
   display: flex;
}

.header-left-side {
   min-width: var(--navigation-size);
   background-color: var(--color-background-grey);
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-right-side {
   width: 80%;
   padding: var(--padding);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.path {
   display: flex;
   align-items: flex-end;
   flex-direction: row;
   align-items: baseline;
}

.path h2,
.path p {
   cursor: default;
}

.path > p {
   font-size: 1.1rem;
   color: var(--color-blue);
   font-weight: 200;
   padding: 0px 10px;
}

.path > a {
   font-weight: 400;
   font-size: 1.2rem;
   color: var(--color-grey);
   transition: color 200ms;
}

.path > a:hover {
   color: var(--color-orange);
   text-decoration: underline;
}

#header-burger-mobile-bouton {
   display: none;
   position: absolute;
   top: 50%;
   left: 0;
   margin-left: var(--padding);
   transform: translateY(-50%);
   font-size: 2.5rem;
   color: var(--color-orange);
   cursor: pointer;
}