@import './style.css';

aside {
   position: fixed;
   width: var(--navigation-size);
   min-height: calc(100vh - var(--header-size));
   padding: var(--padding);
   padding-bottom: calc(3 * var(--padding));
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   z-index: 10;
   background-color: var(--color-background-grey);
   transition: transform 200ms;
}

nav {
   width: 100%;
}

#navigation-list {
   min-width: 100%;
   list-style-type: none;
}

#navigation-list li {
   margin-bottom: 20px;
   cursor: pointer;
   padding: 10px 20px;
   border-radius: var(--border-radius-large);
}

#navigation-list li > a {
   display: flex;
   align-items: center;
}

#navigation-list li i,
#navigation-list li p {
   color: var(--color-grey);
   transition: color 200ms;
}

#navigation-list li i {
   margin-right: 10px;
   font-size: 24px;
}

#navigation-list li:hover * {
   color: var(--color-black);
}

.navigation-list-item-select {
   background-color: var(--color-dark-grey);
   box-shadow: 2px 12px 9px -6px rgba(0,0,0,0.15);
   -webkit-box-shadow: 2px 12px 9px -6px rgba(0,0,0,0.15);
   -moz-box-shadow: 2px 12px 9px -6px rgba(0,0,0,0.15);
}

.navigation-list-item-select a > * {
   color: var(--color-white) !important;
}

#logout-button {
   font-size: 1rem;
   font-weight: 300;
}