* > * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


:root{
   --color-backgroud-white: #FEFFFF;
   --color-background-grey: #F8F8F8;
   --color-background-dark-grey: #EEEEEE;
   
   --color-blue: #02555B;
   --color-orange: #E5734A;

   --color-red: #CF202F;
   --color-green: #00A859;

   --color-light-grey: #CCCCCC;
   --color-grey: #929292;
   --color-dark-grey: #2F3A3A;
   --color-white: #FFFFFF;
   --color-black: #000000;

   --padding-small: 5px;
   --padding: 15px;
   --padding-large: 30px;
   --padding-navigation-size: 275px;

   --border-radius-small: 5px;
   --border-radius-input: 8px;
   --border-radius-large: 15px;

   --header-size: 75px;
   --navigation-size: 275px;
}


body {
   background-color: var(--color-backgroud-white);
}

p {
   font-size: 1rem;
}

a {
   text-decoration: none;
   font-weight: 400;
   font-size: 1.2rem;
   color: var(--color-grey);
   transition: color 200ms;
   cursor: pointer;
}

a:hover {
   color: var(--color-orange);
}

h2 {
   font-weight: 700;
}

h3 {
   font-size: 1.4rem;
   font-weight: 600;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
	cursor: pointer;
	outline: none;
}

hr {
   border: none;
   border-top: 1px solid var(--color-grey);
}

.positive-pourcentage {
   color: var(--color-green);
}

.negative-pourcentage {
   color: var(--color-red);
}

.container {
   max-width: 100%;
   min-height: 100vh;
   padding-top: var(--header-size);
   display: flex;
   position: relative;
}

.container-page {
   width: 100%;
   min-height: 100vh;
   background-color: var(--color-backgroud-white);
   padding: var(--padding);
   padding-left: calc(var(--padding-navigation-size) + var(--padding));
   padding-bottom: calc(3 * var(--padding));
   display: flex;
   flex-direction: column;
   gap: var(--padding);
}


#logo {
   font-size: 2rem;
   font-weight: 700;
   color: var(--color-blue);
}

#logo-orange {
   color: var(--color-orange);
}


.popover-text {
   display: inline;
}

.popover {
   cursor: help;
   width: min-content;
   position: relative;
   margin-left: var(--padding);
   color: var(--color-grey);
}

.popover i:hover, 
.popover i:active {
   color: var(--color-orange);
}

.popover i:hover + .popover-content,
.popover i:active + .popover-content,
.popover-content:hover {
   opacity: 1;
   visibility: visible;
}

.popover-content {
   cursor: default;
   width: 300px;
   padding: var(--padding);
   display: flex;
   flex-direction: column;
   gap: var(--padding);
   position: absolute;
   z-index: 15;
   background-color: var(--color-background-grey);
   border-radius: 10px;
   border: solid 1px var(--color-blue);
   -webkit-box-shadow: 5px 0px 15px 5px rgba(25, 25, 25, 0.05); 
   box-shadow: 5px 0px 15px 5px rgba(25, 25, 25, 0.05);
   visibility: hidden;
   opacity: 0;
   transition: opacity 200ms;
   transition-delay: 500ms;
}

.popover-top {
   top: -10px;
   left: 50%;
   transform: translateX(calc(-50% + 2px)) translateY(-100%);
}

.popover-bottom {
   top: 100%;
   left: 50%;
   transform: translateX(calc(-50% - 2px)) translateY(10px);
}

.popover-content::before {
   content: "";
   width: 20px;
   height: 20px;
   position: absolute;
   background-color: inherit;
}
.popover-top::before {
   top: calc(100% - 10px);
   left: 50%;
   transform: translateX(calc(-50% - 2px)) rotateZ(45deg);
   border-right: solid 1px var(--color-blue);
   border-bottom: solid 1px var(--color-blue);
}
.popover-bottom::before {
   top: -11px;
   left: 50%;
   transform: translateX(calc(-50%)) rotateZ(45deg);
   border-left: solid 1px var(--color-blue);
   border-top: solid 1px var(--color-blue);
}

.popover-content p {
   color: var(--color-black);
}

.popover-content a {
   color: var(--color-orange);
   font-size: 0.9rem;
   font-weight: 300;
}

.popover-content a:hover {
   text-decoration: underline;
}

.fav-button {
   color: var(--color-grey);
}
.fav-button:hover,
.fav-button-selected {
   color: var(--color-orange);
}


.wrapper {
   padding: var(--padding);
   border-radius: var(--border-radius-large);
   border: solid 1px var(--color-light-grey);
   background-color: var(--color-background-grey);
}