@import './style.css';


.container-thumbnail-currency {
   display: grid;
   gap: var(--padding);
   grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.thumbnail-currency {
   height: 150px;
   display: flex;
   flex-direction: column;
   border-radius: var(--border-radius-large);
   cursor: pointer;
   transition: box-shadow 200ms;
   position: relative;
}

.thumbnail-drop-indicator {
   height: 150px;
   border-radius: var(--border-radius-large);
   background-color: var(--color-extra-light-grey);
}

.fav-dropzone-left {
   z-index: 3;
   width: calc(50% + var(--padding) / 2);
   min-height: 100%;
   right: calc( (50% + var(--padding) / 2) - var(--padding) / 2);
   position: absolute;
}
.fav-dropzone-right{
   z-index: 3;
   width: calc(50% + var(--padding) / 2);
   min-height: 100%;
   position: absolute;
   left: 50%;
}

.thumbnail-currency:hover {
   -webkit-box-shadow: 0px 0px 15px 5px rgba(25, 25, 25, 0.075); 
   box-shadow: 0px 0px 15px 5px rgba(25, 25, 25, 0.075);
}

.info-currency {
   height: 50%;
   padding: var(--padding);
   display: flex;
   gap: var(--padding);
}

.info-currency-image{
   height: 100%;
   aspect-ratio: 1/1;
}

.info-currency-price-wrapper {
   display: flex;
   align-items: center;
   gap: 5px;
}

.fav-price {
   font-size: 1.3rem;
   font-weight: 500;
}

.fav-taux-wrapper {
   height: 80%;
   display: flex;
   align-items: center;
   gap: var(--padding-small);
   border-radius: var(--border-radius-large);
   padding: 1px 10px;
   color: var(--color-white);
}
.fav-taux-wrapper-positive {
   background-color: var(--color-green);
}
.fav-taux-wrapper-negative {
   background-color: var(--color-light-red);
}

.fav-taux-wrapper i {
   font-size: 10px;
}

.fav-taux {
   font-size: 0.8em;
   font-weight: 500; 
   letter-spacing: 1px; 
}

.fav-name-wrapper {
   display: flex;
   align-items: flex-start;
   gap: 10px;
   font-size: 1rem;
}

.fav-name {
   font-weight: 600;
   color: var(--color-dark);
}

.fav-symbol {
   font-weight: 400;
   color: var(--color-dark-grey);
}

.fav-chart {
   max-height: 50%;
   padding-top: 5px;
   border-radius: 0px 0px 15px 15px;
}