@import './style.css';


.container-thumbnail-currency {
   display: grid;
   gap: var(--padding);
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.thumbnail-currency {
   height: 150px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   border-radius: var(--border-radius-large);
   cursor: pointer;
   transition: box-shadow 200ms;
   position: relative;
}

.thumbnail-currency:hover {
   -webkit-box-shadow: 0px 0px 15px 5px rgba(25, 25, 25, 0.075); 
   box-shadow: 0px 0px 15px 5px rgba(25, 25, 25, 0.075);
}

.info-currency {
   height: 50%;
   padding: 15px;
   display: flex;
   gap: 10px;
}

.info-logo-currency {
   width: fit-content;
   height: 100%;
   border-radius: 15px;
   background-color: #000000;
   padding: 10px;

}

.info-currency > img {
   height: 100%;
   aspect-ratio: 1 / 1;
}

.fav-price {
   font-size: 1.2rem;
   font-weight: 500;
}

.fav-symbol {
   font-size: 1rem;
   font-weight: 300;
   color: var(--color-dark);

}

.fav-taux {
   font-size: 0.8em;
   font-weight: 600;
}

.fav-chart {
   max-height: 50%;
   padding-top: 5px;
   border-radius: 0px 0px 15px 15px;
}