aside {
   min-width: 100%;
   background-color: transparent;
   border-radius:  0px;
   -webkit-box-shadow: none; 
   box-shadow: none;
}

.logo-mobile {
   display: block;
   text-align: center;
}

#form-title {
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--color-black);
}

.user-input ~ label {
   background-color: var(--color-backgroud-white);
}

#hero-banner {
   display: none;
}

input[type="submit"] {
   height: 50px;
   margin-top: 50px;
}

.have-account-redirection {
   font-weight: 400;
}