:root{
   --padding-navigation-size: 0px;
}

aside {
   transform: translateX(-100%);
}

.aside-mobile-open {
   transform: translateX(0%);
}

#aside-mobile-background {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 9;
   display: none;
   transition: backdrop-filter 200ms, background-color 200ms;
}

.aside-mobile-background-active {
   -webkit-backdrop-filter: blur(1px);
   backdrop-filter: blur(1px);
   background-color: rgba(125, 125, 125, .15) !important;
   display: block !important;
}